@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

main figure{
  position: relative;
  background-image: url("../img/mapas1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 550px;
}

figcaption{
  padding: 25px;
  position: absolute;
  height: 200px;
  width: 70%;
  margin: 0 15%;
  bottom: -100px;
  background-color: #f3eeeb;
  border-radius: 5px 5px 20px 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.363),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}

figcaption h3{
  margin: 0;
  text-align: center;
  font-size: 40px;
}

figcaption h4{
  margin: 15px;
  text-align: center;
  font-size: 30px;
}

section{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 160px 9% 0 9%;
  background-color: #1f282d;
  height: 590px;
}

.nomes{
  border-radius: 5px;
  width: 45%;
  background-color: #f3eeeb;
  padding-top: 26px;
  margin-right: 5%;
  height: 270px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.363),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}
.nomes h4{
  margin: 0;
  text-align: center;
  font-size: 30px;
}
.nomes input{
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 93%;
  margin: 3%;
  padding: 4%;
  background-color: #1f282d;
  color: #f3eeeb;
}

.pets{
  border-radius: 5px;
  width: 45%;
  margin-left: 5%;
  background-color: #f3eeeb;
  /* padding-top: 26px; */
  padding: 26px 4% 4% 4%;
  height: 270px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.363),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}
.pets h4{
  margin: 0;
  padding-bottom: 3%;
  text-align: center;
  font-size: 30px;
}
.pets select{
  border: none;
  border-radius: 5px;
  font-size: 20px;
  /* text-align: center; */
  padding: 4%;
  /* height: 50px; */
  width: 100%;
  background-color: #1f282d;
  color: #f3eeeb;
}
.pets div{
  font-size: 25px;
  margin: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.mapa{
  position: relative;
  z-index: 1;
  background-color: #f3eeeb;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.726),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}
.mapa h3{
  margin: 0;
  padding: 26px 0;
  text-align: center;
  font-size: 25px;
  
}
iframe{
  width: 100%;
  height: 330px;
  margin-bottom: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.178),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}

.medicos{
  position: relative;
  background-image: url("../img/madeirona1.jpg");
  /* filter: blur(1.2px); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 650px;
}
.medicos h4{
  position: absolute;
  z-index: 1;
  top: -25px;
  left: 33%;
  font-size: 25px;
  padding: 15px 0;
  border-radius: 6px 6px 16px 16px;
  width: 30%;
  text-align: center;
  margin: 0;
  color: #f3eeeb;
  background-color: #019875;
  
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.514),
     0 3px 10px 0 rgba(0, 0, 0, 0.075);
}
@media only screen and (max-width: 550px){

  body{
    width:fit-content;
  }

  header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #019875;
  
  }
  
  header a{
    text-decoration: none;
    color: #dbf599;
    font-size: 20px;
    padding: 0 13px;
  }
  
  .consultas-li{
    display: none;
  }


  header ul{
    margin: 16px 0 16px 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    align-content: space-between;
    /* float: right; */
  }
  
  header h1{
    font-size: 50px;
    letter-spacing: 7px;
    color: #dbf599;
    font-family: 'Passions Conflict', cursive;
    font-weight: 100;
    display: inline-block;
    margin: 0;
    /* border: 1px solid yellow; */
  }

  main{
    font-family: 'Rajdhani', sans-serif;
  }




  footer{
    display: inline-block;
    width: 100%;
    background-color: #019875;
  }
  
  footer p{
    margin: 0;
  }
  
  footer ul{
    display: none;
  }
  
  footer p{
    letter-spacing: 3px;
    color: #dbf599;
    font-weight: 100;
    display: inline-block;
    margin: 20px 40px;
    /* border: 1px solid yellow; */
  }
}

@media only screen and (min-width: 550px) and (max-width: 1079px) {

  header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* display: inline-block; */
    /* width: 100%; */
    background-color: #019875;
  
  }
  
  header a{
    text-decoration: none;
    color: #dbf599;
    font-size: 20px;
    padding: 0 50px;
  }
  
  .consultas-li{
    display: none;
  }

  header ul{
    margin: 16px 40px 16px 60px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    align-content: space-between;
    /* border: 1px solid black; */
    /* float: right; */
  }
  
  header h1{
    font-size: 50px;
    letter-spacing: 7px;
    color: #dbf599;
    font-family: 'Passions Conflict', cursive;
    font-weight: 100;
    display: inline-block;
    margin: 0;
    /* border: 1px solid yellow; */
  }
  main{
    font-family: 'Rajdhani', sans-serif;
  }



  
  footer{
    display: inline-block;
    width: 100%;
    background-color: #019875;
  }
  
  footer p{
    margin: 0;
  }
  
  footer ul{
    display: none;
  }
  
  footer p{
    letter-spacing: 3px;
    color: #dbf599;
    font-weight: 100;
    display: inline-block;
    margin: 20px 40px;
    /* border: 1px solid yellow; */
  }

}

@media only screen and (min-width: 1080px) {

  header{
    display: inline-block;
    width: 100%;
    background-color: #019875;
  }
  
  header a{
    text-decoration: none;
    color: #dbf599;
    font-size: 20px;
    padding: 0 50px;
  }
  
  header li{
    padding: 16px 2px;
  }
  
  header ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    align-content: space-between;
    float: right;
  }
  
  header h1{
    font-size: 49px;
    letter-spacing: 7px;
    color: #dbf599;
    font-family: 'Passions Conflict', cursive;
    font-weight: 100;
    display: inline-block;
    margin: 0 0 0 40px;
  }
  main{
    font-family: 'Rajdhani', sans-serif;
  }



  
  footer{
    display: inline-block;
    width: 100%;
    background-color: #019875;
  }
  
  footer p{
    margin: 0;
  }
  
  footer li{
    padding: 16px 2px;
  }
  
  footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    align-content: space-between;
    /* border: 1px solid black; */
    float: right;
  }
  
  footer a{
    text-decoration: none;
    color: #dbf599;
    font-size: 20px;
    padding: 0 50px;
  }
  
  footer p{
    letter-spacing: 3px;
    color: #dbf599;
    font-weight: 100;
    display: inline-block;
    margin: 20px 0 0 40px;
    /* border: 1px solid yellow; */
  }
}